<?xml version="1.0" encoding="utf-8" ?>
<configuration version="2.0">
  <input>
    <!-- [Optional] [Recommended] Metadata of the input media file(s) -->
    <metadata key="title" value="TechEd 2014 Key Note" />
    <metadata key="description" value="So much FAN video." />
  </input>
  <settings>
    <!-- Reserved -->
  </settings>
</configuration>
