html, body {
    height:100%;
    width:100%;
}

#vid1 {
    width: 640px;
    height: 480px;
}

#videoContainer {
    margin:auto;
    width: 640px;
    height: 480px;
    float: left;
}

#versionInfoDisplay {
    font-size: 14px;
}

#urlEntryContainer {
    margin-top: 3px;
}

#docsContainer {
    margin-top: 3px;
}

#docs li:first-of-type {
    margin-left: -40px;
}

#docs li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}